body{
	font-family: 'Ubuntu', sans-serif;
}

#topDiv{
	max-height: 90vh;
}
.myCarousel{
	max-height: 90vh;
}
.Nature{
	color: #2d7262;
	font-size: 1.1em;
}

#navbarNav a{
	font-size: 1.2em;
	margin-left: 10%;
	margin-right: 10%;
}
.carouselDiv{
	background-color: #232123;
}
.myCarouselImg{
	max-height: 95vh;
	width: auto;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.navbarUl{
	width: 100%;
}


.topIntro{
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 60px;

}
#bodyIntro{
	margin-top: 60px;
	margin-bottom: 60px;
}
.myPara{
	font-size: 1.1em;
	line-height: 40px;
	text-align: justify;
	font-family: 'Ubuntu', sans-serif;
}
.titleIntro{
	text-align: center;
}
.col-md{
	padding-left: 20px;
	padding-right: 20px;
}

#logoTitle{
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.5em;
}

.infoBody{
	margin-top: 8%;
}

.card{
	margin: 15px;
}
.myCard{
	padding:0;
}

.cardImgdiv{
	height: 300px;
}
.myCardImg{
	max-height: 350px;
	width: auto;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.awarenessImg{
	margin-top: 50px;
}
.cardPara{
	text-align: justify;
	font-size: 1.1em;
	line-height: 30px;
	margin-top: 20px;
}
#cardCarousel{
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 15px;
}
.myBtn{
	background-color:#45c7be;
    border-radius: 26px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:10px 25px;
	text-decoration:none;
    transition: 0.2s;
}
.myBtn:hover {
    background-color:#EF5350;
    transform: translateY(-2px);
    color: white;
}
.cardCarousel3{
	height: 450px;
}
.myCardCarousel3Img{
	max-height: 450px;
	width: auto;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.paraBody{
	margin-top: 3%;
}
.myParaSgp{
	font-size: 1.1em;
	line-height: 40px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}
.teamTitle{
	margin-bottom: 25px;
}



@media only screen and (max-width: 1200px){
	.myCardImg{
		max-height: 300px;
		width: auto;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.infoBody{
		margin-top: 80px;
	}

}

@media only screen and (max-width: 850px){
	.myCardImg{
		max-height: 225px;
		width: auto;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.infoBody{
		margin-top: 80px;
	}
	.title{
		margin-top: 50px;
	}
}

@media only screen and (max-width: 400px){
	#logoTitle{
		font-size: 1em;
	}
	.myCardCarousel3Img{
		max-height: 250px;
		width: auto;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	#infoBody{
		margin-top: 70px;
	}
	.title{
		margin-top: 50px;
	}

}

